db-component-client/src/pack/Dispatcher.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server/" name="DispatcherService">
<types>
<xsd:schema>
<xsd:import namespace="http://server/" schemaLocation="http://localhost:9000/Dispatcher?xsd=1"/>
</xsd:schema>
</types>
<message name="writeSimpleCSV">
<part name="parameters" element="tns:writeSimpleCSV"/>
</message>
<message name="writeSimpleCSVResponse">
<part name="parameters" element="tns:writeSimpleCSVResponse"/>
</message>
<message name="writeEntireCSV">
<part name="parameters" element="tns:writeEntireCSV"/>
</message>
<message name="writeEntireCSVResponse">
<part name="parameters" element="tns:writeEntireCSVResponse"/>
</message>
<message name="makeTransaction">
<part name="parameters" element="tns:makeTransaction"/>
</message>
<message name="makeTransactionResponse">
<part name="parameters" element="tns:makeTransactionResponse"/>
</message>
<message name="queryJSON">
<part name="parameters" element="tns:queryJSON"/>
</message>
<message name="queryJSONResponse">
<part name="parameters" element="tns:queryJSONResponse"/>
</message>
<portType name="Dispatcher">
<operation name="writeSimpleCSV">
<input wsam:Action="http://server/Dispatcher/writeSimpleCSVRequest" message="tns:writeSimpleCSV"/>
<output wsam:Action="http://server/Dispatcher/writeSimpleCSVResponse" message="tns:writeSimpleCSVResponse"/>
</operation>
<operation name="writeEntireCSV">
<input wsam:Action="http://server/Dispatcher/writeEntireCSVRequest" message="tns:writeEntireCSV"/>
<output wsam:Action="http://server/Dispatcher/writeEntireCSVResponse" message="tns:writeEntireCSVResponse"/>
</operation>
<operation name="makeTransaction">
<input wsam:Action="http://server/Dispatcher/makeTransactionRequest" message="tns:makeTransaction"/>
<output wsam:Action="http://server/Dispatcher/makeTransactionResponse" message="tns:makeTransactionResponse"/>
</operation>
<operation name="queryJSON">
<input wsam:Action="http://server/Dispatcher/queryJSONRequest" message="tns:queryJSON"/>
<output wsam:Action="http://server/Dispatcher/queryJSONResponse" message="tns:queryJSONResponse"/>
</operation>
</portType>
<binding name="DispatcherPortBinding" type="tns:Dispatcher">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="writeSimpleCSV">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="writeEntireCSV">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="makeTransaction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="queryJSON">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="DispatcherService">
<port name="DispatcherPort" binding="tns:DispatcherPortBinding">
<soap:address location="http://localhost:9000/Dispatcher"/>
</port>
</service>
</definitions>